h1             { 
                 font-family:Averia Serif Libre; 
                 font-size:56px; 
                 font-weight:bold; 
                 color:goldenrod; 
                 margin-top:0; 
                 margin-bottom:0; 
               } 
h2             { 
                 font-size:16px; 
                 font-weight:bold; 
                 color:cyan; 
                 margin-top:0; 
                 margin-bottom:0; 
               } 
h3             { 
                 font-family:Averia Serif Libre; 
                 font-size:22px; 
                 font-weight:bold; 
                 color:white; 
                 margin-top:8px; 
                 margin-bottom:8px; 
               } 
